{% extends 'base.html' %}

{% block title %}
    {#если нужно не заменить целиком, а дополнить блок шаблона - вызываем super()#}
    {#    {{ super() }}#}
    User list
{% endblock %}

{% block body %}
    <h1>Пользователи:</h1>
    <div class="container text">
    <div class="row">
        <div class="col">
            {#  выведем переданных из вьюхи пользователей списком через цикл  #}
            {% for user_id in users %}
                <ul>
                    {# вариант простого вывода списка данных #}
                    {#            <li> {{ users[user_id] }} </li>#}
                    {# вариант вывода списка данных с динамическими ссылками на каждый элемент с функцией url_for() #}
                    {# Например - http://127.0.0.1:5000/users/1 #}
                    <li><a href="{{ url_for('user.get_user', pk=user_id) }}">{{ users[user_id] }}</a></li>
                </ul>
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}